<div class="board" cdkDropListGroup>
      <div class="cell"
      *ngFor="let cell of board; let i = index"
      cdkDropList
      #boardDropList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="i"
      [cdkDropListEnterPredicate]="enterPredicate"
      (click)="toggleCell(i)"
      [style.background-color]="trail.includes(i) ? trailColor : ''">
    <img *ngIf="cell === 1" 
        cdkDrag
        [src]="currentPath(i)"
        width="30px"
        height="30px"
        class="layer-image" />
    </div>
  </div>
  <div class="enemy-board">
    <!-- Repeat sand images for each cell -->
    <div  *ngFor="let cell of board; let i = index">
      <img *ngIf="cell === 2" 
        [src]="currentPath(i)"
        width="30px"
        height="30px"
        [style.width.px]="30"
        [style.height.px]="30"
      >
    </div>
    <div class="spice-container">
      <div class="spice-cell" *ngFor="let cell of waterAndSpiceBoard; let i = index">
        <img *ngIf="cell !== ''" 
            src="{{ cell }}"
            width="30px"
            height="30px"
            [style.width.px]="30"
            [style.height.px]="30"
        >
    </div>
    </div>
  <div class="mountain-container">
    <img
      *ngFor="let position of mountainPositions"
      [src]="position.src"
      [style.left.px]="position.left"
      [style.top.px]="position.top"
      [style.transform]="'rotate(' + position.rotation + 'deg)'"
      class="mountain-image"
    />
  </div>
  <div class="sand-container">
  <!-- Repeat sand images for each cell -->
  <div class="sand-cell" *ngFor="let cell of board; let i = index">
    <img
      src="/assets/sand.svg"
      width="30px"
      height="30px"
      [style.width.px]="30"
      [style.height.px]="30"
    >
  </div>
  <div class="blue-cell" *ngFor="let cell of mountainBoard; let i = index">
    <img *ngIf="cell === true"
      src="/assets/waterPump.svg"
      width="30px"
      height="30px"
      [style.width.px]="30"
      [style.height.px]="30"
    >
  </div>
</div>

  