<div class="board" cdkDropListGroup>
    <div
      class="cell"
      *ngFor="let cell of board; let i = index"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="i"
      [cdkDropListEnterPredicate]="enterPredicate"
    >
      <img
      cdkDrag
      [src]=currentPath(i)
      width="30px"
      height="30px"
      *ngIf="cell === 1"
      class="layer-image"
      />
    </div>
  </div>
  
  <div class="mountain-container">
    <img
      *ngFor="let position of mountainPositions"
      [src]="position.src"
      [style.left.px]="position.left"
      [style.top.px]="position.top"
      [style.transform]="'rotate(' + position.rotation + 'deg)'"
      class="mountain-image"
    />
  </div>
  <div class="sand-container">
  <!-- Repeat sand images for each cell -->
  <div class="sand-cell" *ngFor="let cell of board; let i = index">
    <img
      src="/assets/sand.svg"
      width="30px"
      height="30px"
      [style.width.px]="30"
      [style.height.px]="30"
    >
  </div>
</div>
  