.board {
    top: 20px;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(36, 30px); /* Each column is 30px */
    grid-template-rows: repeat(20, 30px); /* Each row is 30px */
    width: 800px;
    height: 800px;
    position:  absolute;
    z-index:9!important;
  }
  .enemy-board {
    top: 20px;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(36, 30px); /* Each column is 30px */
    grid-template-rows: repeat(20, 30px); /* Each row is 30px */
    width: 800px;
    height: 800px;
    position:  absolute;
    z-index:8!important;
  }
  
  
  .cell {
    border: 1px solid #eeeeee;
  }
  .layer-image {
    margin-left: -1px; /* Adjust left position as needed */
  }
  
  .mountain-container {
    position: absolute; /* Position the mountain container absolutely */
    top: 0; /* Adjust top/left position as needed */
    left: 0;
    z-index:7!important;
  }
  .sand-container {
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(36, 30px); /* Each column is 30px */
    grid-template-rows: repeat(20, 30px); /* Each row is 30px */
    width: 800px;
    height: 800px;
    position: absolute;
    z-index:5!important;
  }
  .spice-container {
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(36, 30px); /* Each column is 30px */
    grid-template-rows: repeat(20, 30px); /* Each row is 30px */
    width: 800px;
    height: 800px;
    position: absolute;
    z-index:10!important;
  }

  .mountain-image {
    position: absolute; /* Position the mountain image absolutely */
    z-index: 7!important;/* Set a lower z-index */
  }