<p>game works!</p>
<app-board [lastRoll]="lastRoll" ></app-board>
<app-dice [toggleTurn]="toggleTurn"></app-dice>
<app-spice-display></app-spice-display> 
<app-move-display></app-move-display>
<app-tile-spawner [toggleTurn]="toggleTurn"></app-tile-spawner>
<app-current-player></app-current-player>
<div class="turnBox">
    <h2>Is it your turn ?:{{toggleTurn}}</h2>
</div>
<app-water-display></app-water-display>
<app-credit-display></app-credit-display>
<div class="event-cards">
    <app-event-card-deck [toggleTurn]="toggleTurn"></app-event-card-deck>
</div>
<app-end-turn></app-end-turn>