/* event-card.component.scss */
.event-card {
    background-color: brown;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
  }
  
  .event-card-text {
    color: white;
    font-weight: bold;
  }
  
  .event-card-modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .event-card-disabled {
    background-color: #ccc; /* Grey background */
    border-color: #999; /* Darker grey border */
    color: #666; /* Dark grey text */
    cursor: not-allowed; /* Change cursor to indicate not clickable */
}