<mat-card>
    <mat-card-content>
      <p>Game Code:</p>
      <mat-card class="code-box">{{ gameStatus?.game_code }}</mat-card>
      <p>Game Link:</p>
      <mat-card class="link-box"><a href="#">Link Text</a></mat-card>
      <p>Number of Players:</p>
      <mat-card class="player-count-box">{{ gameStatus ? (gameStatus.is_Full ? '2' : gameStatus.player1_id ? '1' : '0') : '0' }}/2</mat-card>
      <p>Is Ready:</p>
      <mat-card class="status-box">{{ gameStatus ? (gameStatus.is_Full ? 'Ready' : 'Not Ready') : 'Not Available' }}</mat-card>
      <mat-card class="join-btn"><button (click)="handleJoinGame()">Join Game</button></mat-card>
      <mat-card *ngIf="gameStatus && gameStatus.is_Full" class="join-btn">
        <button (click)="handleStartGame()">Start Game</button>
      </mat-card>
    </mat-card-content>
    <div>
        <app-house-picker></app-house-picker>
      </div>
  </mat-card>