.tileSpawner-container {
    position: absolute;
    top: 600px; /* Adjust as needed */
    left: 200px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
  }
  .tile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    &.selected {
        // Your existing styles for selected tile-wrapper
      }
    
      .layer-image {
        // Your existing styles for layer-image
    
        &.disabled {
          // Your styles for disabled state
          opacity: 0.5; // Example: reduce opacity to indicate disabled state
          pointer-events: none; // Disable pointer events
        }
      }
  }
  
  .tile-wrapper.selected {
    background-color: lightblue;
  }
  
  .tile-label {
    font-size: 12px;
  }
  
  .no-items-selected {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
  