<div class="tileSpawner-container">
  <div class="tiles-row">
    <div *ngFor="let tile of tiles; let i = index" class="tile-wrapper" >
      <img [src]="tileSrc[i]" width="30px" height="30px" class="layer-image" [class.disabled]="isDisabled(i)" (click)="handleTileClick(i)" />
    </div>
  </div>
  <!-- Selected tile displayed larger -->
  <div  class="selected-tile-wrapper">
    <div *ngIf="selectedTileIndex !== null" class="tile-label"><Span class="text-style">{{tileType[selectedTileIndex]}}</Span></div>
    <p *ngIf="selectedTileIndex === null" class="text-style">NO TILE SELECTED</p>
    <img *ngIf="selectedTileIndex !== null" [src]="tileSrc[selectedTileIndex]" width="50px" height="50px" class="layer-image" />
    <div class="tile-info">
      <div *ngIf="selectedTileIndex !== null"><Span class="text-style">Cost: {{ tileCosts[selectedTileIndex] }} {{ tileCurrency[selectedTileIndex] }}</Span></div>
    </div>
  </div>
  <!-- Other tiles displayed in rows -->
</div>
