<div class="tileSpawner-container">
    <div *ngIf="tiles.length === 0" class="no-items-selected">No items selected</div>
    <div *ngFor="let tile of tiles; let i = index" class="tile-wrapper" [class.selected]="selectedTileIndex === i">
      <div class="tile-label">Click to select</div>
      <img [src]="tileSrc[i]" width="30px" height="30px" class="layer-image" [class.disabled]="isDisabled(i)" (click)="handleTileClick(i)" />
      <div class="tile-info">
        <div>Cost: {{ tileCosts[i] }}</div>
        <div>Currency: {{ tileCurrency[i] }}</div>
        <button [disabled]="isDisabled(i)" class="tile-button">Select</button>
      </div>
    </div>
  </div>