.remaining-text{
font-family: "Gaia";
font-size: 3em;
color: #FFFFFF;
}
.moves-text{
    font-family: "Gaia";
    font-size: 8em;
    color: #FFFFFF;
    margin-left: 80px;
    margin-top: 60px;
}
.remaining-container{
    position: absolute;
    top: 650px;
    right: -40px;
    width: 20em;
    height: 20em;  

}